.ul {
  list-style-type: circle;
  list-style-position: inside;
}

.like-btn{
	margin-top: 10px;
	margin-bottom: 15px;
}

.ingredient-list {
	margin-left: 165px;
	width: 375px;
}

.ingredients {
	margin-left: 25px;
	margin-bottom: 2px;
}

.box {
	width: 750px;
}

.chef-name {
	color: blue;
}


.description {
	margin-left: 20%;
	width: 100%;
	display: block;
}

.img {
	width: auto;
	height: 90%;
	margin-right: 60%;
	margin-left: 10% ;
	display: block;
}

.recipe-details {
	padding: 25px;
	border: 1px #ececec;
	font-size: 90%;
	font-style: normal;
	display: block;
}  

.recipe-overview {
	border: 1px #ececec;
	font-size: 90%;
	font-style: normal;
	display: block;
}