<div class="container-fluid text-center box">
  <h2>{{recipe.title}}</h2>
  <h4>By: <label (click)="goToChef()"> {{recipe.chef.username}}</label></h4>
  <button class="btn btn-success align-content-center"
  (click)="likeRecipe(recipe)">Likes: {{recipe.likes.length}}</button>
  <br/>

  <a href="https://www.youtube.com/watch?v={{recipe.youtubeUrl}}"> Link to Video</a>
  <!--   <iframe width="560" height="315" src="https://www.youtube.com/embed/{{recipe.youtubeUrl}}"allow="autoplay; encrypted-media"></iframe> -->

  <div class="ingredient-list">
    <h6>Ingredient List:</h6>
    <ul class="list-group">
      <li class="list-group-item ingredients" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient}}

      </li>
    </ul>
  </div>
  <br/>

  {{recipe.description}}

</div>