.ul {
  list-style-type: circle;
  list-style-position: inside;
}

.ingredient-list {
	margin-left: 165px;
	width: 375px;
}

.ingredients {
	margin-left: 25px;
	margin-bottom: 2px;
}

.box {
	width: 750px;
}