<div class="row">
  <div class="col-2">
  </div>

  <div class="col-8 text-center">
    <h2>{{recipe.title}}</h2>
    <h4>Inspired by cuisine</h4>
    <button class="btn btn-success align-content-center"
            (click)="likeRecipe(recipe)">Like</button>
    <i class="glyphicon glyphicon-heart"></i>
    <p> Likes: {{recipe.likes.length}}
      <!--<a href="#"><span class="glyphicon glyphicon-empty-heart"></span></a>-->
    </p>

    <!-- <iframe width="700" height="400" 
        [ng-src]="recipe.youtubeUrl">
     </iframe>   -->

    <div class="ingredient-list">
      <h6>Ingredient List:</h6>
      <ul class="list-group">
        <li class="text-left" *ngFor="let ingredient of recipe.ingredients">
          {{ingredient}}
        </li>
      </ul>
    </div>
    <div class="description">
      <p>{{recipe.description}}</p>
    </div>

  </div>

  <div class="col-2 text-center">
    <h4>Chef Information:</h4>
    <p class="text-center">{{recipe.chef.username}}</p>
    <a routerLink="/profile">See {{recipe.chef.username}}'s profile</a>
  </div>
</div>
