<div class="row">
  <div class="col-4">
    <h2>Users</h2>
    <table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th>&nbsp;</th>
        </tr>
        <tr> 
          <th> <input [(ngModel)]="newUser.username" placeholder="username"></th>
          <th> <input [(ngModel)]="newUser.password" placeholder="password"></th>
          <th> <input [(ngModel)]="newUser.firstName" placeholder="John"></th>
          <th> <input [(ngModel)]="newUser.lastName" placeholder="Smith"></th>
          <th> <input [(ngModel)]="newUser.phone" class="form-control" placeholder="xxx-xxx-xxxx"></th>
          <th> <input [(ngModel)]="newUser.email" class="form-control" placeholder="jsmith@gmail.com"></th>
          <th> <input [(ngModel)]="newUser.role" class="form-control" placeholder="pro"></th>
          <th> <button (click)="saveUser()" type="button" class="btn btn-primary btn-block">Save</button>
          <th> <button (click)="createUser()" type="button" class="btn btn-primary btn-block">Create</button>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users">
          <tr>
              <td>{{user.username}}</td>
              <td>****</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.email}}</td>
              <td>{{user.role}}</td>
              <button (click)="deleteUser(user)" type="button" class="btn btn-primary btn-block">Remove</button>
              <button (click)="updateUser(user)" type="button" class="btn btn-primary btn-block">Update</button>
            </tr>
    </tbody>
    </table>
  </div>
</div>
