.container {
    display: inline-block; 
  }

.wbdv-form-group {
    margin: 5px;
}  

.title {
    display: flex;
    justify-content: center;
}

.list-group-item {
    margin: 10px;
    display: inline-block; 
    border: 3px solid rgb(0, 0, 0);
}

.sectionTitle {
    margin-bottom: 5px;
    justify-content: center;
    
}

.recipesLiked {
    margin-bottom: 10px; 
    border: .5px solid rgb(0, 0, 0);
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
}

.recipeImage {
    margin-top: 25px;
}

.recipeTitle {
    color: #42a4f4;
    text-decoration: underline;
}

.follow-list {
    margin-bottom: 10px; 
    border: .5px solid rgb(0, 0, 0);
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
}


.unfollow {
    width: 100%;
}