<div class="container">
  <h1 class="title">Hi {{user.firstName}}</h1>
  <div class="wbdv-form-group row">
      <label for="username" class="col-sm-2 col-form-label">Username:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="user.username" class="form-control" readonly=true>
      </div>
  </div>
  <div class="wbdv-form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="user.password" class="form-control" placeholder="Password">
    </div>
  </div>
  <div class="wbdv-form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="user.firstName" class="form-control" placeholder="first name">
    </div>
  </div>
  <div class="wbdv-form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="user.lastName" class="form-control" placeholder="last name">
    </div>
  </div>
  <div class="wbdv-form-group row">
    <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="user.phone" class="form-control" placeholder="xxx-xxx-xxxx">
    </div>
  </div>
  <div class="wbdv-form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="user.email" class="form-control" placeholder="email">
    </div>
  </div>
  <div class="wbdv-form-group row">
    <label for="role" class="col-sm-2 col-form-label">Role:</label>
    <div class="col-sm-10"> 
    <input [(ngModel)]="user.role" class="form-control" readonly=true>
  </div>
  </div>
  <div class="wbdv-form-group row">
    <label for="sections" class="col-sm-2 col-form-label">Classes</label>
   <li (click)="viewClass(section.sectionId)" *ngFor="let section of sections" class="list-group-item">
      <div class="sectionTitle"> {{section.sectionId.title}} </div>
      <button (click)="unenroll(user._id, section.sectionId._id, section._id, $event)" type="button" class="btn btn-primary btn-block">Unenroll</button>
    </li> 
  </div>
  <button (click)="updateUser()" type="button" class="btn btn-primary btn-block">Update</button>
  <button (click)="logout()" type="button" class="btn btn-primary btn-block">Logout</button>
  <button (click)="goToAdminPage(user.role)" type="button" class="btn btn-primary btn-block">Admin</button>

</div>