.container {
    display: inline-block; 
  }

.wbdv-form-group {
    margin: 5px;
}  

.title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-group-item {
    margin: 10px;
    display: inline-block; 
    border: 3px solid rgb(0, 0, 0);
}

.sectionTitle {
    margin-bottom: 5px;
    justify-content: center;
    
}