<div class="row">
  <div class="col-4">
    <ul class="list-group">
        <li class="list-group-item active">
            <h1>Cuisines</h1>
        </li>
        <li> 
            <th> <input [(ngModel)]="newCuisine.title" placeholder="title"></th>
            <th> <button (click)="createCuisine()" type="button" class="btn btn-primary btn-block">Create</button>  
        </li>
        <li (click)="selectCuisine(cuisine)" [ngClass]="{'active': cuisine.id == selectedCuisine.id}" *ngFor="let cuisine of cuisines"
        class="list-group-item">
        {{cuisine.title}}
        <button class="btn" (click)="viewCuisine(cuisine)"> <i class="fa fa-eye"></i></button>
      </li>
    </ul>
  </div>
  <div class="col-8">
      <h1>Recipes</h1>
      <li> 
          <th> <input [(ngModel)]="newRecipe.title" placeholder="title"></th>
          <th> <button (click)="createRecipe()" type="button" class="btn btn-primary btn-block">Create</button>  
      </li>
      <li *ngFor="let recipe of recipes"> 
      <div className="card" (click)="selectRecipe(recipe)">
          <img className="card-img-top"
               src="https://picsum.photos/300/200"/>
          <div className="card-body">
           <h5 className="card-title">recipe.title</h5>
           <p className="card-text">Card text.</p>
          </div>
        </div>
          </li>
      </div>
</div>
