<h1>Register</h1>
<input [(ngModel)]="username"
       class="form-control"
       placeholder="Username"/>
<input [(ngModel)]="password1"
       class="form-control"
       placeholder="Password"
       type = "password"/>
<input [(ngModel)]="password2"
       class="form-control"
       placeholder="Confirm Password"
       type = "password"/>
<button (click)="register(username, password1, password2)"
        class="btn btn-primary btn-block">
  Register
</button>

<a class="btn btn-success btn-block"routerLink="/Login" >
	Login
</a>